/.idea/
/.gradle/8.7/checksums/checksums.lock
/.gradle/8.7/checksums/md5-checksums.bin
/.gradle/8.7/checksums/sha1-checksums.bin
/.gradle/8.7/dependencies-accessors/gc.properties
/.gradle/8.7/fileChanges/last-build.bin
/.gradle/8.7/fileHashes/fileHashes.lock
/.gradle/8.7/gc.properties
/.gradle/9.2.1/checksums/checksums.lock
/.gradle/9.2.1/checksums/md5-checksums.bin
/.gradle/9.2.1/checksums/sha1-checksums.bin
/.gradle/9.2.1/executionHistory/executionHistory.bin
/.gradle/9.2.1/executionHistory/executionHistory.lock
/.gradle/9.2.1/fileChanges/last-build.bin
/.gradle/9.2.1/fileHashes/fileHashes.bin
/.gradle/9.2.1/fileHashes/fileHashes.lock
/.gradle/9.2.1/fileHashes/resourceHashesCache.bin
/.gradle/9.2.1/gc.properties
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/vcs-1/gc.properties
/.gradle/file-system.probe
/build/reports/problems/problems-report.html
/backend/build/libs/backend.jar
/backend/build/tmp/bootJar/MANIFEST.MF
/backend/build/tmp/jar/MANIFEST.MF
/backend/build/resolvedMainClassName
/backend/webapp-api/build/
